
[submodule "grounded-sam-osx"]
	path = grounded-sam-osx
	url = git@github.com:amplience/grounded-sam-osx.git
[submodule "VISAM"]
	path = VISAM
	url = git@github.com:amplience/VISAM.git
[submodule "Tag2Text"]
	path = Tag2Text
	url = git@github.com:amplience/recognize-anything.git
